#cont_7-container {
  width: 100vw;
  margin-top: 100px;
}

#cont_7-container .cont_7_c1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c1 {
    padding: 10px;
  }
}

#cont_7-container .cont_7_c1 :nth-child(1) {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1.5px;
  color: #FFB400;
}

#cont_7-container .cont_7_c1 :nth-child(2) {
  font-size: 35px;
  line-height: 56px;
  margin: 10px 0px 10px 0px;
  color: #184341;
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c1 :nth-child(2) {
    font-size: 28px;
    margin: 10px 0px 10px 0px;
    line-height: 40px;
  }
}

#cont_7-container .cont_7_c1 :nth-child(3) {
  height: 5px;
  width: 150px;
  background: #FFB400;
  border-radius: 0px;
}

#cont_7-container .cont_7_c1 p {
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0px 0px 0px;
  width: 700px;
  text-align: center;
  color: #616670;
}

@media (max-width: 750px) {
  #cont_7-container .cont_7_c1 p {
    width: 500px;
  }
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c1 p {
    width: 100%;
  }
}

#cont_7-container .cont_7_c2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c2 {
    padding: 10px;
  }
}

#cont_7-container .cont_7_c2 .c2_card {
  width: 380px;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 25px;
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c2 .c2_card {
    margin-right: 0px;
  }
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_image {
  min-height: 263px;
  height: 263px;
  width: 100%;
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_image img {
  max-width: 100%;
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_text :nth-child(1) {
  font-size: 15px;
  line-height: 24px;
  color: #FFB400;
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_text :nth-child(2) {
  font-size: 16px;
  line-height: 24px;
  color: #184341;
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_text :nth-child(3) {
  font-size: 16px;
  line-height: 24px;
  color: #616670;
}

#cont_7-container .cont_7_c2 .c2_card .c2_card_text :nth-child(4) {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #FFB400;
}

#cont_7-container .cont_7_c3 {
  height: 398px;
  background: #184341;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  padding-top: 50px;
}

@media screen and (max-width: 1200px) {
  #cont_7-container .cont_7_c3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
}

@media (max-width: 750px) {
  #cont_7-container .cont_7_c3 {
    height: unset;
    padding-top: 30px;
  }
}

#cont_7-container .cont_7_c3 #c3_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c3 #c3_1 {
    margin-bottom: 40px;
  }
}

#cont_7-container .cont_7_c3 #c3_1 div {
  width: 444px;
  height: 106px;
}

@media (max-width: 750px) {
  #cont_7-container .cont_7_c3 #c3_1 div {
    width: 300px;
    height: 71.4px;
  }
}

#cont_7-container .cont_7_c3 #c3_1 div img {
  max-width: 100%;
}

#cont_7-container .cont_7_c3 #c3_1 p {
  color: #E9E9E9;
  width: 300px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #cont_7-container .cont_7_c3 #c3_1 p {
    width: 600px;
  }
}

@media (max-width: 750px) {
  #cont_7-container .cont_7_c3 #c3_1 p {
    width: 400px;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c3 #c3_1 p {
    width: 100%;
    margin-bottom: 20px;
  }
}

#cont_7-container .cont_7_c3 #c3_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 750px) {
  #cont_7-container .cont_7_c3 #c3_2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c3 #c3_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#cont_7-container .cont_7_c3 .c3_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

@media screen and (max-width: 1200px) {
  #cont_7-container .cont_7_c3 .c3_item {
    margin: 0px;
  }
}

@media (max-width: 750px) {
  #cont_7-container .cont_7_c3 .c3_item {
    padding-left: 40px;
  }
}

@media (max-width: 550px) {
  #cont_7-container .cont_7_c3 .c3_item {
    margin-bottom: 20px;
  }
}

#cont_7-container .cont_7_c3 .c3_item :nth-child(1) {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 18px;
  color: #FFB400;
  min-width: 100px;
}

#cont_7-container .cont_7_c3 .c3_item div {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
/*# sourceMappingURL=cont_7.css.map */